/* Page */
ul.text {
	margin-bottom: 1em;
	line-height: 1.5em;
}

.text-center {
	text-align: center;
}

body {
	font: normal 10px Arial, sans-serif;
}

.demo-container {
	font-size: 12px;
	padding: 5px;
	float: left;
	width: 210px;
	border-radius: 2px;
}

.demo-container h4 {
	font-size: 14px;
	margin: 0 0 5px 0;
}

.clear {
	clear: both;
}

.dcjq-count {
	float: right;
}